Alec Dayupay - 211831 - C

Trisha Millena - 214031 - C

Lance Santuyo - 215335 - C

Tonito Sayo - 204647 - C


We hereby attest to the truth of the following facts:

We have not discussed the Python code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

We have not used Python code obtained from another student, or
any other unauthorized source, whether modified or unmodified.

If any Python code or documentation used in my program was
obtained from another source, it has been clearly noted with citations in the
comments of my program.

In [ ]:
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
from collections import Counter

___
# Importing Data

Put the TMDB dataset in a folder called data. I renamed it to movie_dataset_full

In [ ]:
df = pd.read_csv("data/movie_dataset_full.csv")
complete_df = df.copy()

In [ ]:
complete_df['status'].value_counts()

In [4]:
complete_df[complete_df['status'] == "In Production"]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
178260,145538,A Magnificent Death from a Shattered Hand,10.0,2,In Production,NaN,0,0,False,NaN,...,A Magnificent Death from a Shattered Hand,An ex-soldier attempts to clear his name while...,1.930,NaN,"The unwilling, destiny drags them...",NaN,NaN,NaN,NaN,NaN
221328,165716,Vivaldi,10.0,2,In Production,NaN,0,120,False,NaN,...,Vivaldi,"A biography of Antonio Vivaldi's early life, w...",1.033,/jmFmgZYGQhyJnv79SLztdSVVkqU.jpg,NaN,NaN,NaN,NaN,English,NaN
226061,508277,Catalyst,10.0,1,In Production,NaN,0,0,False,NaN,...,Catalyst,"Having fallen in love eight years ago, a young...",0.620,/vJWEazgRiTnEOODgP6rNVke3GEs.jpg,NaN,"Crime, Drama, Mystery",Zennor Films,United Kingdom,English,NaN
226611,444602,Psique,10.0,1,In Production,NaN,1500,0,False,NaN,...,Psique,NaN,0.600,NaN,NaN,Horror,La Noche Se Levanta Productions,Spain,Spanish,slasher
234208,523863,Hump,10.0,1,In Production,NaN,0,90,False,NaN,...,Hump,A wide-eyed camel is joined by a cunning deser...,1.034,/aP6M9aTuEELV9siaDxqxZWX8X7y.jpg,NaN,Animation,NaN,NaN,English,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212935,812363,Two Dots,0.0,0,In Production,NaN,0,0,False,NaN,...,Two Dots,Upcoming Movie by Ganesh Patil,0.804,/kLMc63HDFMKTDIuICv1yKaWTggO.jpg,NaN,NaN,TheMatchbox.Co,India,NaN,NaN
1213381,811941,Devara,0.0,0,In Production,2024-04-04,0,0,False,/apnahFAn1dJ54y33YHhaBx8f1d8.jpg,...,దేవర,Weapons recite the story of one man and his te...,2.176,/lQfuaXjANoTsdx5iS0gCXlK9D2L.jpg,When courage turns into a disease... Fear is t...,"Action, Drama","N. T. R. Arts, Yuvasudha Arts",India,"English, Telugu",NaN
1213384,811944,Game Changer,0.0,0,In Production,NaN,0,0,False,NaN,...,Game Changer,NaN,0.958,/3oAiuGcBxhXMBqo9beCzRzn7X9u.jpg,NaN,"Action, Drama",Sri Venkateswara Creations,India,Telugu,NaN
1213386,811946,Goodachari 2,0.0,0,In Production,NaN,0,0,False,/25tynQBTKxye8HMzFyDGue5H27b.jpg,...,గూఢచారి 2,NaN,0.600,/aZpGwt4VKJfM7rJth5HsVGdC2yO.jpg,NaN,"Action, Thriller","People Media Factory, Abhishek Agarwal Arts, A...",India,Telugu,NaN
1214027,813821,Thaaram,0.0,0,In Production,NaN,0,0,False,NaN,...,താരം,NaN,0.600,/aqXXU2qOTTLLBIzuo0YDOfzcORS.jpg,NaN,"Family, Comedy, Drama",NaN,India,Malayalam,NaN

In [5]:
complete_df[complete_df['status'] == "Post Production"]

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
194655,43217,Coexist,4.8,2,Post Production,NaN,0,53,False,NaN,...,Coexist,Coexist tells the emotional stories of women w...,0.600,NaN,"When hate persists, how will you coexist?","Documentary, History, War",NaN,"United States of America, Rwanda","English, Kinyarwanda","rwanda, rwandan genocide"
200030,389510,Godplex,10.0,2,Post Production,NaN,0,95,False,NaN,...,Godplex,"Inspired by ‘elephant consciousness’, Clark Du...",1.159,NaN,"Dreams are free, reality burns.","Drama, Thriller",InMediaRes,"India, Australia, New Zealand",NaN,"road trip, art house"
214933,280035,Beardo,5.2,2,Post Production,NaN,0,40,False,NaN,...,Beardo,A documentary on the World Beard and Moustache...,0.658,NaN,A documentary about the World Beard and Mousta...,Documentary,DIGICO Shoot | Post | Design,United States of America,English,beard
225053,510731,Underwater Upside Down,10.0,1,Post Production,NaN,0,0,False,NaN,...,Underwater Upside Down,Underwater Upside Down is an oddball comedy ab...,1.832,NaN,NaN,Comedy,NaN,United States of America,English,NaN
227160,508017,LIGHTNING,6.0,1,Post Production,NaN,0,78,False,NaN,...,LIGHTNING,"Failure & success, life & love, poop & barf; a...",0.600,/orljQk4oWqfDbzp838yYfEisrc0.jpg,NaN,Drama,"Random Action Films, Young Ballhard Productions",United States of America,English,"friendship, talking"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1212890,812373,Luka Chuppi,0.0,0,Post Production,NaN,0,0,False,NaN,...,Luka Chuppi,ANimated short by Abhishek Verma,0.600,NaN,NaN,Animation,NaN,India,NaN,NaN
1213448,811700,Kata,0.0,0,Post Production,NaN,0,0,False,NaN,...,Kata,Based on a novel by Rintik Sedu.,0.876,/k7gznHaLh5c9SDiJAaDZRf7gg8c.jpg,NaN,"Drama, Romance",Falcon Pictures,Indonesia,Indonesian,NaN
1213700,812066,"El camino real, la rosa del desierto",0.0,0,Post Production,NaN,0,0,False,/mSrDqLyC1nnKeuIL5qKFB6U51OI.jpg,...,"El camino real, la rosa del desierto",NaN,0.600,NaN,NaN,Adventure,NaN,Argentina,Spanish,NaN
1213816,813502,El Ciego,0.0,0,Post Production,NaN,0,0,False,NaN,...,El Ciego,NaN,0.600,NaN,NaN,NaN,Doménica Films,Argentina,Spanish,NaN
1213957,813736,Lakeshore Drive,0.0,0,Post Production,NaN,0,11,False,NaN,...,Lakeshore Drive,Reluctant reporter Addy Park investigates a se...,0.600,NaN,NaN,"Science Fiction, Mystery",BVTV Studios,NaN,English,NaN

In [6]:
titles_to_match = [
    'God of War Ragnarok', 'God of War', 'OMORI', 'Big Gap', 'The Bear',
    '2019: A Cinematic Odyssey', 'Joker 3D', 'One Copyright Strike to Rule Them All',
    'Carlos', 'River of Fundament'
]

test = complete_df[complete_df['title'].isin(titles_to_match)]
test = test[test['runtime'] > 300]
test

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
12973,43434,Carlos,6.959,171,Released,2010-07-07,871279,339,False,/bYCj7U89sVREvaxFKpnk2kbnxnF.jpg,...,Carlos,"The story of Venezuelan revolutionary, Ilich R...",8.009,/883l2CsEuNPqv8aCAOuOavxdLAy.jpg,The man who hijacked the world,"Crime, Drama, Thriller, History","Films en Stock, Egoli Tossell Film, Canal+, AR...","Germany, France","French, German, English, Spanish, Arabic, Hung...","gun, car bomb, miniseries, terrorism, opec, ho..."
62291,255615,River of Fundament,6.500,14,Released,2014-02-12,44840,310,False,/gZbnI9x7pszVmNc4z4SEKsFM0Iv.jpg,...,River of Fundament,Visionary artist Matthew Barney returns to cin...,4.739,/sMGevssYsHJG8omlL26rPZFWgRY.jpg,NaN,"Drama, Fantasy, Horror",NaN,NaN,"English, Portuguese","opera, gold, loss of loved one, pregnancy, ida..."
187353,1309787,Big Gap,10.000,2,Released,2016-08-31,6,980,False,/znSYHaFeq4w2YWcDf0oml5LmgsO.jpg,...,Big Gap,big gap reptile joker taxi driver Lupe fiasco ...,1.400,/fthyBdjT3FFWkmmGhF9K9tbOp16.jpg,THE BIGGEST GAP EVER,"Science Fiction, War",NaN,NaN,"Albanian, Divehi, Dutch, Dzongkha, English",NaN
229449,1233925,The Bear,10.000,1,Released,2022-06-23,20000000,540,False,/jpoqiH1ZGyQcUZrzYlIPsnN2GCS.jpg,...,The Bear,A young chef from the fine dining world return...,0.600,/tLnYIbkIKhNbAKzhawKqcY9dmxk.jpg,The Bear,"Comedy, Drama",FX Productions,United States of America,English,NaN
233639,1168032,One Copyright Strike to Rule Them All,10.000,1,Released,2023-03-31,100,409,False,/z3jrfiFNWpJ6lz4mmBxaukujZt0.jpg,...,One Copyright Strike to Rule Them All,An introspecitve deep dive into one mans trium...,0.600,/wnYf7evSqnp17e3STQkz9MsilCT.jpg,"One Man, One Mission",Documentary,NaN,NaN,English,NaN
251260,1369012,Joker 3D,6.000,1,Released,NaN,100,420,False,NaN,...,Joker 3D,brought to life in an immersive 3D format. The...,0.600,/5ajHHEiNUrmq0LIqMPNP2pgIuhp.jpg,It's Jokering Time,Documentary,NaN,NaN,NaN,joker
257678,1305464,God of War Ragnarok,10.000,1,Released,2022-11-09,469000000,999,False,/nOV8dSwjGrgYXKZBVJm9rW829zT.jpg,...,God of War Ragnarok,"Kratos, and his now teenage son, Atreus, are f...",1.400,/jiqC3ebPM3SnDJLWpVEV5OB5f0e.jpg,Open your heart.,"Action, Adventure, Drama","Santa Monica Studio, Sony Interactive Entertai...",NaN,NaN,"kratos, god of war, ragnarok"
257680,1305448,God of War,10.000,1,Released,2018-04-20,135395253,999,False,/hMHywo0BDtuOeLeZWs0Ml3pjJ0R.jpg,...,God of War,"Many years after defeating the Olympian gods, ...",1.400,/rBIoYuwsgn7dX7kJqaV6efsezBT.jpg,We are not our mistakes.,"Adventure, Action, Drama","Santa Monica Studio, Sony Interactive Entertai...",NaN,NaN,"kratos, god of war"
257699,1305480,God of War,10.000,1,Released,2005-03-22,0,540,False,/dnrwRHsr5NBuEST92g8Lem5G6Dy.jpg,...,God of War,After 10 years of endless nightmares in servit...,0.931,/7Od86Xg4tZVyiVUga4MOnC7eTbM.jpg,"""Tell the God of War, I am his no longer""","Action, Adventure, Fantasy","Santa Monica Studio, Sony Computer Entertainment",NaN,NaN,"kratos, god of war"
259958,1280118,OMORI,10.000,1,Released,2020-12-25,19,990,False,/42yZ1pGF4a0ZtfoaR40jcD1gbu3.jpg,...,OMORI,Explore a strange world full of colorful frien...,1.400,/wOO3julpsZTNBsVy0HaK3DQIQg.jpg,OMORI,"Horror, Animation, Fantasy",OMOCAT,Japan,English,NaN
296883,787838,2019: A Cinematic Odyssey,10.000,1,Released,2019-09-28,100000,480,False,/17KYVwKOqlTiaYfTCntoBs0pZcp.jpg,...,2019: A Cinematic Odyssey,2019: A Cinematic Odyssey is an eight hour mus...,0.600,/1L4kc52eYY65kQ8oLydSZwlLV0k.jpg,Embark on the Cinematic Adventure of a Lifetime,Adventure,Sarah Conor Productions,NaN,English,musical

In [7]:
complete_df.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.214586e+06,1.214586e+06,1.214586e+06,1.214586e+06,1.214586e+06,1.214586e+06,1.214586e+06
mean,7.849756e+05,1.775837e+00,1.766151e+01,6.702136e+05,4.663847e+01,2.609782e+05,1.179048e+00
std,4.187445e+05,2.973841e+00,3.081552e+02,1.832724e+07,6.147384e+01,5.174002e+06,7.343680e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,4.343442e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,7.930475e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,0.000000e+00,6.000000e-01
75%,1.160054e+06,4.167000e+00,1.000000e+00,0.000000e+00,8.800000e+01,0.000000e+00,8.540000e-01
max,1.471563e+06,1.000000e+01,3.449500e+04,5.000000e+09,1.440000e+04,1.000000e+09,2.994357e+03

In [8]:
list(complete_df.columns)

['id',
 'title',
 'vote_average',
 'vote_count',
 'status',
 'release_date',
 'revenue',
 'runtime',
 'adult',
 'backdrop_path',
 'budget',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'tagline',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'keywords']

In [9]:
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214586 entries, 0 to 1214585
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1214586 non-null  int64
 1   title                 1214573 non-null  object
 2   vote_average          1214586 non-null  float64
 3   vote_count            1214586 non-null  int64
 4   status                1214586 non-null  object
 5   release_date          994018 non-null   object
 6   revenue               1214586 non-null  int64
 7   runtime               1214586 non-null  int64
 8   adult                 1214586 non-null  bool
 9   backdrop_path         316246 non-null   object
 10  budget                1214586 non-null  int64
 11  homepage              127574 non-null   object
 12  imdb_id               620709 non-null   object
 13  original_language     1214586 non-null  object
 14  original_title        1214573 non-null  object
 15  overview              958174 non-null   object
 16  popularity            1214586 non-null  float64
 17  poster_path           816616 non-null   object
 18  tagline               170355 non-null   object
 19  genres                712827 non-null   object
 20  production_companies  539075 non-null   object
 21  production_countries  660233 non-null   object
 22  spoken_languages      681764 non-null   object
 23  keywords              319492 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 214.3+ MB

___
# Cleaning

### General

In [10]:
# Convert 'adult' column to binary
complete_df['adult'] = complete_df['adult'].map({False: 0, True: 1})
# Convert release_date to datetime
complete_df['release_date'] = pd.to_datetime(complete_df['release_date'], errors='coerce')

In [11]:
complete_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,0,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,0,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,0,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,0,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,0,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [12]:
# Extract year from release_date
complete_df['release_year'] = complete_df['release_date'].dt.year.fillna(0).astype(int)
complete_df['release_quarter'] = complete_df['release_date'].dt.quarter.fillna(0).astype(int)

def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Fall'
complete_df['release_season'] = complete_df['release_date'].dt.month.apply(get_season)

complete_df['release_month'] = complete_df['release_date'].dt.month.fillna(0).astype(int)

### Hot encoding

In [13]:
# Split the genres, production companies, production countries, spoken languages and keywords into lists
categorical_cols = ['genres', 'production_companies', 'production_countries', 'spoken_languages']
for col in categorical_cols:
    complete_df[col] = complete_df[col].str.split(', ') if complete_df[col].dtype == 'object' else complete_df[col]
    # prep for mlb
    complete_df[col] = complete_df[col].apply(lambda x: x if isinstance(x, list) else ([] if pd.isna(x) else [x]))

In [14]:
def top_n_encode(df, column, n=5):
    all_items = [item for sublist in df[column].dropna() for item in sublist if sublist]
    # Get top n most common items
    top_items = [item for item, count in Counter(all_items).most_common(n)]
    
    # Create dataframe for encoding
    encoded_df = pd.DataFrame(index=df.index)
    
    # Encode each top item
    for item in top_items:
        encoded_df[f'{column}_{item}'] = df[column].apply(
            lambda x: 1 if isinstance(x, list) and item in x else 0
        )
    
    print(encoded_df.columns) # print the top n
    
    return encoded_df

In [15]:
mlb = MultiLabelBinarizer()
encoded_genres = pd.DataFrame(
    mlb.fit_transform(complete_df['genres']),
    columns=[f'genre_{genre}' for genre in mlb.classes_],
    index=complete_df.index
)
other_cols = ['production_companies', 'production_countries', 'spoken_languages']
encoded_dfs = [encoded_genres]

for col in other_cols:
    encoded_col = top_n_encode(complete_df, col, n=5)
    encoded_dfs.append(encoded_col)

# Combine all encoded dataframes with original dataframe
result = pd.concat([complete_df] + encoded_dfs, axis=1)

Index(['production_companies_Warner Bros. Pictures',
       'production_companies_BBC', 'production_companies_Evil Angel',
       'production_companies_Columbia Pictures',
       'production_companies_Metro-Goldwyn-Mayer'],
      dtype='object')
Index(['production_countries_United States of America',
       'production_countries_France', 'production_countries_Japan',
       'production_countries_Germany', 'production_countries_United Kingdom'],
      dtype='object')
Index(['spoken_languages_English', 'spoken_languages_French',
       'spoken_languages_Spanish', 'spoken_languages_Japanese',
       'spoken_languages_German'],
      dtype='object')

In [16]:
complete_df = pd.concat([complete_df] + encoded_dfs, axis=1)

### Dropping unnecessary columns

In [17]:
list(df.columns)

['id',
 'title',
 'vote_average',
 'vote_count',
 'status',
 'release_date',
 'revenue',
 'runtime',
 'adult',
 'backdrop_path',
 'budget',
 'homepage',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'tagline',
 'genres',
 'production_companies',
 'production_countries',
 'spoken_languages',
 'keywords']

In [18]:
drop_cols = [
    'id',
    'backdrop_path',
    'poster_path',
    'homepage',
    'imdb_id',
    'tagline',
]

hot_encoded = ['production_companies', 'production_countries', 'spoken_languages', 'genres']

complete_df.drop(columns=drop_cols+hot_encoded, inplace=True)

In [19]:
complete_df.columns = complete_df.columns.str.replace(' ', '_')

### Save

In [20]:
complete_df.to_csv('output/cleaned_movie_complete.csv', index=False)
complete_df.to_parquet('output/cleaned_movie_complete.parquet', index=False)

___
# Splitting by Status

In [21]:
released_df = complete_df[complete_df['status']=="Released"]
in_prod_df = complete_df[complete_df['status']=="In Production"]
post_prod_df = complete_df[complete_df['status']=="Post Production"]
planned_df = complete_df[complete_df['status']=="Planned"]
rumored_df = complete_df[complete_df['status']=="Rumored"]
cancelled_df = complete_df[complete_df['status']=="Canceled"]

___
# Working with released movies
## like its gonna be our working dataset

In [30]:
metric_cols = ['vote_average', 'vote_count', 'revenue', 'runtime', 'budget', 'popularity']
df_nonzero = released_df[(released_df[metric_cols] != 0).all(axis=1)]
df_zero = released_df[(released_df[metric_cols] == 0).any(axis=1)]

In [23]:
sample = df_nonzero.sample(50)

In [24]:
df_nonzero.to_csv("output/cleaned_movie_released_nonzero.csv", index=False)

In [25]:
sample.to_csv("output/cleaned_movie_released_sample.csv")

___
# Testing stuff here

In [ ]:
metric_cols = ['runtime', 'budget']
in_prod_cleaned = in_prod_df[(in_prod_df[metric_cols] != 0).all(axis=1)]
post_prod_cleaned = post_prod_df[(post_prod_df[metric_cols] != 0).all(axis=1)]
planned_df = planned_df[(planned_df[metric_cols] != 0).all(axis=1)]
rumored_df = rumored_df[(rumored_df[metric_cols] != 0).all(axis=1)]
df_zero = df_zero[(df_zero[metric_cols] != 0).all(axis=1)]

In [ ]:
all_cleaned_df = pd.concat([
    in_prod_cleaned,
    post_prod_cleaned,
    planned_df,
    rumored_df,
    df_zero
], ignore_index=True)
all_cleaned_df.to_parquet('output/many_movies.parquet', index=False)

In [27]:
in_prod_cleaned.to_csv("output/in_prod_nonzero.csv", index=False)
post_prod_cleaned.to_csv("output/post_prod_nonzero.csv", index=False)

In [29]:
in_prod_cleaned

,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,...,production_countries_United_States_of_America,production_countries_France,production_countries_Japan,production_countries_Germany,production_countries_United_Kingdom,spoken_languages_English,spoken_languages_French,spoken_languages_Spanish,spoken_languages_Japanese,spoken_languages_German
221328,Vivaldi,10.0,2,In Production,NaT,0,120,0,12000000,en,...,0,0,0,0,0,1,0,0,0,0
353271,Family Therapy,0.0,0,In Production,NaT,0,22,0,100000,en,...,1,0,0,0,0,0,0,0,0,0
353493,Now and Then,0.0,0,In Production,2023-10-08,0,17,0,5000,en,...,0,0,0,0,1,1,0,0,0,0
353785,High Hopes,0.0,0,In Production,2023-10-31,0,19,0,1500,de,...,0,0,0,0,0,0,0,0,0,1
353926,Hillside Cacti,0.0,0,In Production,2025-04-09,0,7,0,100,en,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197927,name removed,0.0,0,In Production,NaT,0,120,0,800000,en,...,1,0,0,0,0,0,0,0,0,0
1200868,Session,0.0,0,In Production,NaT,0,70,0,5000,en,...,0,0,0,0,0,0,0,0,0,0
1210793,Foriegn scotch,0.0,0,In Production,NaT,0,120,0,1500000,kn,...,0,0,0,0,0,0,0,0,0,0
1212491,Le Gardien du feu,0.0,0,In Production,NaT,0,80,0,4800000,fr,...,0,1,0,0,0,0,1,0,0,0
1212784,Chad Cooper on Trial,0.0,0,In Production,NaT,0,114,0,150000,en,...,0,0,0,0,0,0,0,0,0,0

In [31]:
all_cleaned_df = pd.concat([
    in_prod_cleaned,
    post_prod_cleaned,
    planned_df,
    rumored_df,
    df_zero
], ignore_index=True)

In [32]:
all_cleaned_df.to_parquet('output/many_movies.parquet', index=False)

In [35]:
planned_df[planned_df[metric_cols] != 0].dropna()

Empty DataFrame
Columns: [title, vote_average, vote_count, status, release_date, revenue, runtime, adult, budget, original_language, original_title, overview, popularity, keywords, release_year, release_quarter, release_season, release_month, genre_Action, genre_Adventure, genre_Animation, genre_Comedy, genre_Crime, genre_Documentary, genre_Drama, genre_Family, genre_Fantasy, genre_History, genre_Horror, genre_Music, genre_Mystery, genre_Romance, genre_Science_Fiction, genre_TV_Movie, genre_Thriller, genre_War, genre_Western, production_companies_Warner_Bros._Pictures, production_companies_BBC, production_companies_Evil_Angel, production_companies_Columbia_Pictures, production_companies_Metro-Goldwyn-Mayer, production_countries_United_States_of_America, production_countries_France, production_countries_Japan, production_countries_Germany, production_countries_United_Kingdom, spoken_languages_English, spoken_languages_French, spoken_languages_Spanish, spoken_languages_Japanese, spoken_languages_German]
Index: []

[0 rows x 52 columns]

In [29]:
from ydata_profiling import ProfileReport

In [7]:
profile = ProfileReport(df, title="Profiling Report")

In [8]:
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/24 [00:00<?, ?it/s]
  8%|▊         | 2/24 [00:00<00:03,  6.44it/s]
 12%|█▎        | 3/24 [00:00<00:03,  5.48it/s]
 17%|█▋        | 4/24 [00:00<00:03,  5.19it/s]
 21%|██        | 5/24 [00:00<00:03,  5.10it/s]
 54%|█████▍    | 13/24 [00:01<00:00, 18.43it/s]
100%|██████████| 24/24 [00:01<00:00, 18.90it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
df.info()